# Node.js
node_modules/

# TypeScript
*.tsbuildinfo

# Compiled output
dist/
build/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

.history